@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-gradient{
  background-image: url('../assets/bg.png');
  background-position-x: 50%;
  background-position-y: 0%;
  background-size: auto 150%;
}
.img{
  background-image: url('../assets/robinos_islogo.svg');
}